<p>
  All My products
</p>


<div>

    <div class="form-group">
        <div class="radio-inline">
            <input type="radio" name="gridRadios1" id="all" (click)="refresh(0)">
            <label for="all">All</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="gridRadios1" id="books" (click)="refresh(1)">
            <label for="books">Books</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="gridRadios1" id="dvd" (click)="refresh(2)">
            <label for="dvd">DVDs</label>
        </div>
        <div class="radio-inline">
            <input type="radio" name="gridRadios1" id="games" (click)="refresh(3)">
            <label for="games">Games</label>
        </div>
    </div>

</div>