

<div class="container">

  <div>
      <h3>Enter Details</h3>
  </div>
  <br/>
    <div>
        <label>Your Name</label>
        <input clrInput type="text" [(ngModel)]="seller" />
    </div>
    <div>
        <label>Category</label>
        <input clrInput type="text" [(ngModel)]="category" />
    </div>
    <div>
        <label>Item Name</label>
        <input clrInput type="text" [(ngModel)]="name" />
    </div>
    <div>
        <label>Location</label>
        <input clrInput type="text" [(ngModel)]="location"  />
    </div>
    <br/>
    <div>
        <button class="action-item" (click)="sellThis()">Save</button>
    </div>

  </div>