

<div class="container">

  <div>
      <h3>Sell your stuff here</h3>
  </div>

    <div>
        <label>Your Name</label>
        <input clrInput type="text" [(ngModel)]="seller" />
    </div>
    <div>
        <label>Category</label>
        <div class="form-group">
            <div class="radio">
                <input type="radio" name="gridRadios1" id="books">
                <label for="books">Books</label>
            </div>
            <div class="radio">
                <input type="radio" name="gridRadios1" id="dvd">
                <label for="dvd">DVDs</label>
            </div>
            <div class="radio">
                <input type="radio" name="gridRadios1" id="games">
                <label for="games">Games</label>
            </div>
        </div>
    </div>
    <div>
        <label>Item Name</label>
        <input clrInput type="text" [(ngModel)]="name" />
    </div>
    <div>
        <label>Location</label>
        <input clrInput type="text" [(ngModel)]="location"  />
    </div>

    <div>
        <button class="action-item" (click)="sellThis()">Sell</button>
    </div>

  </div>